.Comments {
    
    width: 85%;
    background-color: var(--color-white);
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 10px;
    font-family: 'Rubik' sans-serif;
}

.showBig {
    width: 85%;
    
    background-color: var(--color-white);
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 10px;
}

.replies {
    
    width: 83%;
    margin: 1rem 2rem;
    border: 0;
    border-left: 0.13rem solid rgba(82, 83, 87, 0.377);
}

.response {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}


/* Big Mode style */

.Bigreplies {
    width: 90%;
    margin: 1rem 0.5rem;
    border: 0;
    border-left: 0.13rem solid rgba(82, 83, 87, 0.377);
}

.Bigresponse {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}


@media (min-width: 750px) {
    .smallContent {
        display: none;
    }
    .response {
        display: none;
    }
}

@media (max-width: 748px) {
    .bigContent {
        display: none;
    }
    .Bigresponse {
        display: none;
    }
}