.commentForm {
    
    width: 85%;
    background-color: var(--color-white);
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 10px;
    font-family: 'Rubik' sans-serif;

}

.inputFile {
    width: 99%;
    height: 5rem;
    border-radius: 5px;
    display: flex;
    margin: auto;
    border: 2px solid rgb(85, 84, 84);
    cursor: pointer;
}

.inputData {
    height: 100%;
    width: 100%;
    border: none;
    background-color: transparent;
    color: var(--color-grayish-blue);
    font-size: larger;
    font-family: inherit;
    padding: 0;
    cursor: pointer;
}

.inputData:focus {
    outline: none;
}

.text_style {
    width: 100%;
    border: none;
    background-color: transparent;
    color: var(--color-grayish-blue);
    font-size: larger;
    padding: 0.2rem 0.4rem;
    cursor: pointer;
    font-family: inherit;
}

.text_style:focus {
    outline: none;
}

.labelData {
    padding: 0.2rem 0.4rem;
    font-size: larger;
    cursor: pointer;
}

.iconButton {
    display: flex;
    padding: 1rem 0;
    justify-content: space-between;
}

.buttonId {
width: 5.4rem;
height: 2.5rem;
border: 0;
border-radius: 5px;
background-color: var(--color-moderate-blue);
color: var(--color-white);
font-family: inherit;
letter-spacing: 0.07rem;
font-weight: bold;
cursor: pointer;
}

.buttonId:hover {
    background-color: var(--color-light-grayish-blue);
}

/* Big styles */

.BigcommentForm {
    display: flex;
    width: 85%;
    justify-content: space-between;
    background-color: var(--color-white);
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 10px;
    font-family: 'Rubik' sans-serif;
}

.BiginputFile {
    display: flex;
    width: 75%;
    height: 5rem;
    border-radius: 5px;
    margin: auto;
    border: 2px solid rgb(85, 84, 84);
    cursor: pointer;
}

@media (min-width: 750px) {
    .commentForm {
        display: none;
    }
}

@media (max-width: 748px) {
    .BigcommentForm {
        display: none;
    }
}