.commentForm {
    width: 85%;
    background-color: var(--color-white);
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 10px;
    font-family: 'Rubik' sans-serif;

}

.inputFile {
    width: 99%;
    height: 5rem;
    border-radius: 5px;
    margin: auto;
    border: 2px solid rgb(85, 84, 84);
}

.iconButton {
    display: flex;
    padding: 1rem 0;
    justify-content: space-between;
}

.buttonId {
width: 5.4rem;
height: 2.5rem;
border: 0;
border-radius: 5px;
background-color: var(--color-moderate-blue);
color: var(--color-white);
font-family: inherit;
letter-spacing: 0.07rem;
font-weight: bold;

}