.Comments {
    width: 85%;
    background-color: var(--color-white);
    margin: auto;
    padding: 1rem;
    border-radius: 10px;
    font-family: 'Rubik' sans-serif;
}

.showBig {
    width: 85%;
    
    background-color: var(--color-white);
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 10px;
}

@media (min-width: 400px) {
    /* .Comments {
        display: none;
    } */
}