.btn_bg_select {
    background-color: var(--color-very-light-gray);
    display: flex;
    flex-direction: column;
    width: 2.2rem;
    height: 5.4rem;
    border-radius: 5px;
    margin: 1rem;
    align-items: center;
}

 .h3em {
    color: var(--color-moderate-blue);
    text-align: center;
    font-size: large;
    margin: 0;
    padding-top:10px;
    font-family: 'Rubik' sans-serif;
}

.btn_bg_plus {
    height: 0.2rem;
    width: 2rem;
    text-align: center;
    cursor: pointer;
    color: rgb(165, 157, 214);
    margin: 10px;
}

.btn_bg_plus:hover {
    color: var(--color-moderate-blue);   
}

.details {
    width: 50%;
}

/* Big Icon */
.bigCover {
    display: flex;
    
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: auto;
    
}

.bigIcon {
    display: flex;
}

.btn_icon {
    margin: 0;
    width: 62%;
    display: flex;
    font-size: larger;
    justify-content: space-around;
}

.img_reply {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-left: auto;
}

.img_delete {
    display: flex;
    width: 90%;
    
    margin: 0 1rem;
    justify-content: space-around;
}

.icons  {
margin: 0 0.4rem;
padding: 0 1rem;
cursor: pointer;    
}

.del {
    color: var(--color-soft-red);
    font-size: larger;
    font-weight: 700;
}
.del:hover {
    color: var(--color-pale-red);
}
.blu {
    color: var(--color-moderate-blue);
    font-size: larger;
    font-weight: 700;
}
.blu:hover {
    color: var(--color-light-grayish-blue);
}




/* Heading style */


.BigHead {
    
}
.Bigheading_name {
    margin: 0 0.5rem;
    padding: 4px;
    
}
.Bigheading_time {
    margin: 0 0.5rem;
    padding: 4px;
    color: var(--color-dark-blue);
    font-weight: 400;
}

.images {
    width: 35px;
    height: 20px;
}

.Bigcreator_span {
    background-color: var(--color-moderate-blue);
    width: 30px;
    height: 20px;
    color: var(--color-white);
    text-align: center;
    padding: 4px;
    border-radius: 2px;
    font-weight: 500;
}